@import '@/styles/variaveis';

@include customMedia("max-width: 450px") {
    .servicosWrapper {
        margin: 0;
    }


    .Text {
        display: none;

        .swiper {
            .swiperSlide {
                @include notSelect;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;

                padding-top: 0 !important;

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .infoSection {
        scale: .95;

        // margin-bottom: .5rem;
        // margin-top: .5rem;
    }

}

//Dispositivos >= 1024px (Desktop)
@include lgScreen() {
    .infoSection {
        width: 100%;
        height: 24rem;

        display: flex;
        flex-direction: row;
        flex: 1;


        //Primeiro Aside
        :nth-child(1) {
            width: 55%;
            height: 100%;

            .wrapper {
                justify-content: center;
            }

            .textArea {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;

                .text {
                    width: 100%;
                    // min-height: 15rem;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    gap: 1rem;

                    h3 {
                        width: 100%;
                        height: max-content;
                    }

                    .desktopText {
                        display: block;
                        font-size: 16px;
                    }
                }

                a,
                button {
                    width: 100%;
                }
            }
        }

        //Segundo aside
        .imageArea {
            width: 100%;
            height: 100%;

            .screen {
                width: 100%;
                scale: 1.1;
                top: 20px;
                left: -5%;

                .Image {
                    width: 100%;

                    margin: 0;

                    top: 0;
                }

                .contentWrapper {
                    max-width: 416px !important;
                    height: 67.5%;
                    width: auto;
                    position: relative;

                    transform: translateX(10.7px) !important;
                    top: 1.4rem !important;

                    margin: 0 auto;
                    padding: 0;

                    .content {
                        top: 0;
                        left: 0;

                        padding: 0;

                        width: 100%;
                    }
                }
            }
        }
    }
}