@import '@/styles/variaveis';

//Dispositivos <= 1024px (Desktop)
@include lgScreen() {
    .textArea div span {
        display: block;
    }
}

// Dispositivos <= 768px e >= 570px(tablets)
@include mdScreen() {
    .contentWrapper {
        .content {
            width: 45%;

            left: 28.5%;
        }
    }
}

@include smScreen() {

    //Estilização do nav e dos conteúdos dos menus
    .serviceNav {
        .navItens {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "li-0 li-1"
                "li-2 li-3";
            row-gap: 0.25rem;
            column-gap: 0.25rem;

            @for $i from 0 through 4 {
                .li-#{$i} {
                    grid-area: li-#{$i};
                }
            }

            li {
                min-width: 12.8rem;

                cursor: pointer;

                display: flex;
                padding: .25rem 1.5rem;
                align-items: center;

                background-color: rgb(212 212 216);
                border-radius: 9999px;

                margin: 0;
            }

            img {
                scale: .8;
            }
        }
    }
}