@import '@/styles/variaveis';


@include lgScreen() {
    .title {
        text-align: left;
    }

    .contentWrapper {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;

        gap: 5%;
    }

    .textArea {
        width: 50%;
        order: 0;

        .subtitle {
            position: relative;
            display: flex;
            transform: translateY(50%);

            z-index: 2;
        }

        .text {
            padding: 2rem 0;
        }

        .contactButton {
            width: 50%;
        }

        .seletoresDesktop {
            display: block !important;
            margin-bottom: 5px;
        }
    }

    .animationContainer {
        margin: 0 auto;

        .animationArea {
            margin: 0;
        }
    }
}