@import '@/styles/variaveis';

.swiper-slide {
    padding: $xsm-padding;
}

@include customScreen("150px") {
    .swiperWrapperRef {
        height: 92vh !important;
    }
}

@include smScreen() {
    .swiper-wrapper .swiper-slide {
        padding: $sm-padding;
    }
}

@include mdScreen() {
    .swiper-wrapper .swiper-slide {
        padding: $md-padding;
    }
}

@include xlScreen() {
    .swiper-wrapper .swiper-slide {
        padding: $xl-padding;
    }
}