.instaPost {
    width: 30%;
    max-height: 37.5em;
    min-height: 32em;
    height: inherit;
    min-width: 350px;

    overflow: hidden;

    .__instaMidia {
        width: 90%;
        // max-height: 25.5rem;
        height: max-content;
    }
}

.instaPostsWrapper {
    ::-webkit-scrollbar-track {
        background-color: #fff !important;
        border-radius: 100px;
    }
}