$instaPostHeight: 30rem;

.instaPost {
  width: 30%;
  max-width: 400px;
  min-width: 350px;
  overflow: hidden;

  .instaMidia {
    width: 85%;
    height: inherit;
    max-height: $instaPostHeight;
  }
}

.instaPostsWrapper {
  ::-webkit-scrollbar-track {
    background-color: #fff !important;
    border-radius: 100px;
  }
}
