.instaPost {
    width: 30%;
    min-height: 25.5rem;
    height: inherit;

    overflow: hidden;

    .__instaMidia {
        width: 90%;
        max-height: 25.5rem;
    }
}

.instaPostsWrapper {
    ::-webkit-scrollbar-track {
        background-color: #fff !important;
        border-radius: 100px;
    }
}