$instaPostHeight: 30rem;

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  // width: 50%;
  gap: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-primary-color;
}

.instaPostsWrapper {
  ::-webkit-scrollbar-track {
    background-color: #fff !important;
    border-radius: 100px;
    display: none;
  }
}