@font-face {
  font-family: "LouisGeorgeCafe-Bold", "LouisGeorgeCafe";
  src: url("/assets/fonts/louis_george_cafe_bold-webfont.woff2") format("woff2"), url("/assets/fonts/louis_george_cafe-webfont.woff2") format("woff2");
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contabilidade {
  /* font-family: "LouisGeorgeCafe"; */
  line-height: 1.5;
  font-weight: 400;

  letter-spacing: .51rem;
  font-weight: 600;

  left: .9rem;
  bottom: -.6rem;

  opacity: 0;
}

#contabilidadeContainer{
  width: 382px;
  height: 20px;
}

.animated {
  position: absolute;
}

.notAnimated {
  opacity: 0;
}

/* bg.src = 'https://i.postimg.cc/fWqT7zSp/bg2.png' */