@import "@/styles/variaveis";
@import "@/styles/mixins";

.underline {
  position: relative;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: $primary-color;
}

.headMenuMobile {
  margin: $xsm-padding;
}

.ulWrapper {
  @include notSelect;
}
