// Definindo o mixin
@mixin primary-gradient {
    background: linear-gradient(to right, #f12711, #f5af19);
}

@mixin none {
    display: none;
}

//Desativa seleção dos menus de seleção dos serviços
@mixin notSelect {
    user-select: none;
    /* padrão */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

@mixin xlScreen() {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin lgScreen() {
    @media (min-width: 1020px) {
        @content;
    }
}

@mixin mdScreen() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin smScreen() {
    @media (min-width: 640px) {
        @content;
    }
}

@mixin customScreen($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin customMedia($query) {
    @media (#{$query}) {
        @content;
    }
}