@import '@/styles/mixins';

$px-li-itens: 0 .2rem;
// $primary-color: #D5A115;
$primary-color: #037367;
$xsm-padding: 0 .25rem;
$sm-padding: 0 1.25rem;
$md-padding: 0 2rem;
$lg-padding: 0 2rem;
$xl-padding: 0 2rem;