@import '@/styles/mixins';

$px-li-itens: 0 .2rem;
// $primary-color: #D5A115;
$primary-color: #037367;
$xsm-padding: 0 1.2rem;
$sm-padding: 0 1.75rem;
$md-padding: 0 3rem;
$lg-padding: 0 3rem;
$xl-padding: 0 4rem;