.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.animate-sprite {
    margin: auto;
    animation: play .3s steps(2) infinite;
}

.animate-wheel {
    animation: rotate 1s linear infinite;
}

@keyframes play {
    100% {
        background-position-x: -150px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}