@import '@/styles/variaveis';

.underline {
    position: relative;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: $primary-color;
}

.headMenuMobile {
    @include applyPx($px-sm-screen);
}

.ulWrapper {
    @include notSelect
}