@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --px-header: .2rem;
  --primary-color: #D5A115;
}

body {
  color: rgb(0 0 0);
  background-color: rgb(250 250 250);
}

.active-page {
  font-weight: bold;
   transition: 0.5s ease-out linear; 
}

.underline {
  position: relative;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
}

ul > li {
  margin: 0 var(--px-header);
  padding: 0 .7rem;
}

.text-yellow{
  color: var(--primary-color);
}
.bg-yellow{
  background-color: var(--primary-color);
}

.big-image {
  position: absolute;
  top: -6.5rem;
  right: 7rem;
  height: 44rem;
  /* display: none; */
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 30rem;
  border-radius: 5rem;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  display: none;
}

.slide {
  border-radius: 5rem;
}

.divisor {
  width: 80%;
  /* height: 1rem; */
  background-color: black;
  border-bottom: .5px solid #000 ;
  margin: 5rem auto;
  opacity: .5;
}

.animate-container {
  overflow: hidden;
  width: auto;
  height: max-content
}

.theme {
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  padding: .25rem 1rem;
  display: inline-flex;
  -webkit-backdrop-filter: blur(0.625rem);
  backdrop-filter: blur(0.625rem)
}

/* flex items-center gap-2 */

.screen {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.painel {
  scroll-snap-align: start;
  height: 100vh;
}