@import '@/styles/variaveis';

.underline {
    position: relative;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: $primary-color;
}

.head {
    padding: $xsm-padding;
}

@include customMedia("max-width: 450px") {
    .head {
        height: 8vh;
    }

    .logo {
        width: 100%;
        height: 90%;

        transform: translateX(-55px);
    }
}

@include smScreen() {
    .head {
        padding: $sm-padding;
    }
}

@include mdScreen() {
    .head {
        padding: $md-padding;
    }
}

@include lgScreen() {
    .head {
        padding: $lg-padding;

        .desktopTabs {
            display: flex;

            font-size: 16px;
            font-weight: 400
        }

        .link {
            display: block;
        }

        .link:hover button .iconContainer {
            .dinoSerio {
                display: hidden;
            }

            .dinoSorrindo {
                display: block !important;
            }
        }

    }

    .hamburguerButton {
        display: none;
    }


}

@include xlScreen() {
    .head {
        padding: $xl-padding;
    }
}