@import '@/styles/variaveis';

.animated {
  position: absolute;
}

.notAnimated {
  opacity: 0;
}


.REDU {
  // border: 1px solid black;
  width: 200px;
  height: 78.5px;

  @include mdScreen() {
    width: 300px;
    height: 78.5px;
  }

  img {
    width: 100%;
    height: 100%;
  }

}

.X {
  // border: 1px solid yellow;
  width: 100px;
  height: 80px;

  @include mdScreen() {
    width: 150px;
    height: 112.5px;
  }
}

.CONTABILIDADE {
  bottom: 0;
  left: 1px;
  width: 200px;

  @include mdScreen() {
    width: 300px;
    left: 0;
  }

  .contabilidade {
    line-height: 1.2;
    bottom: -4px;
    font-size: large;
    letter-spacing: 3.5px;

    opacity: 0;

    @include mdScreen() {
      letter-spacing: .51rem;
      bottom: -7px;

      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

}

.DISCLAIMER {
  opacity: 0;

  img {
    width: 80px;
    height: 35px;
  }
}