@import "@/styles/variaveis";

.servicos {
  width: auto;
  height: auto;
  // border: 1px solid rgb(255 235 59);
}

.wrapper {
  @include xsmScreen() {
    padding: $xsm-padding;
  }

  @include smScreen() {
    padding: $sm-padding;
  }

  @include mdScreen() {
    padding: $md-padding;
  }

  @include lgScreen() {
    padding: $lg-padding;
  }

  @include xlScreen() {
    padding: $xl-padding;
  }
}
