@import '@/styles/variaveis';

@font-face {
    font-family: 'Montserrat-Black';
    src: url('/fonts/Montserrat-Black.otf') format('otf');
    src: url('/fonts/Montserrat-SemiBold.otf') format('otf');
}

.servicos,
.contentArea {
    width: auto;
    height: auto;
}

.wrapper {
    @include smScreen() {
        margin: $sm-padding;
    }

    @include mdScreen() {
        margin: $md-padding;
    }

    @include lgScreen() {
        margin: lg-padding;
    }

    @include xlScreen() {
        margin: $xl-padding;
    }
}

.contentArea {
    .leftArea .mobileGameScene {
        margin: 2rem auto;
    }
}

@include customMedia("min-width: 640px") {
    .contentArea {
        .leftArea {
            height: 90vh !important;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .introText {
        margin: 0;
        padding: 0;

        font-size: 2rem;
        line-height: 3.5rem;
        letter-spacing: .1rem;

        .grosso {
            font-family: 'Montserrat-Black' 'poppins';
            font-stretch: expanded;
            font-weight: bolder;
        }
    }
}

@include smScreen() {
    .gameScene {
        margin: auto 0;
    }
}

@include mdScreen() {
    .introText {
        // padding: .2rem;
        // margin: .5rem 0;

        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: .2rem;
    }

}

@include lgScreen() {
    .contentArea {
        .leftArea {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .introText {
        // padding: 1rem 4.9rem;
        // margin: .5rem 0;

        font-size: 4.3rem;
        line-height: 4.5rem;
        letter-spacing: .3rem;
    }
}

@include xlScreen {
    .introText {
        padding: 1rem 8rem;
        margin: 0 0;

        font-size: 4.5rem;
        line-height: 4.8rem;
        letter-spacing: .3rem;
    }
}