@import '@/styles/variaveis';

.servicos,
.contentArea {
    width: auto;
    height: auto;
}

.contentArea {
    .leftArea .mobileGameScene {
        margin: 2rem auto;
    }
}

@include customMedia("max-width: 450px") {
    .introText {
        font-size: 2rem;
    }
}

@include lgScreen {
    .introText {
        padding: 1rem 21rem;
        margin: 2rem 0;

        font-size: 4.5rem;
        line-height: 4.8rem;
        letter-spacing: .3rem;

        .grosso {
            font-weight: 900;
            font-stretch: condensed !important;
        }
    }
}