@import "@/styles/variaveis";

.wrapper {
  @include xsmScreen() {
    padding: $xsm-padding;
  }

  @include smScreen() {
    padding: $sm-padding;
  }

  @include mdScreen() {
    padding: $md-padding;
  }

  @include lgScreen() {
    padding: $lg-padding;
  }

  @include xlScreen() {
    padding: $xl-padding;
  }
}
